<main class="flex justify-center mt-12">
  <ion-card class="p-3 w-2/3">
    <ion-card-title>
      <h2>Listado de Usuarios</h2>
    </ion-card-title>
    
    <ion-grid class="border rounded-sm">
      <ion-row class="bg-gray-800 p-3">
        <ion-col size="1" class="text-center">ID</ion-col>
        <ion-col>Nombre</ion-col>
        <ion-col>Email</ion-col>
        <ion-col size="4" class="text-center">Opciones</ion-col>
      </ion-row>   

      @for (usuario of usuarios.value(); track usuario.id_usuario) {
      <ion-row class="p-3 cursor-pointer hover:bg-(--ion-color-light)" (click)="viewProfile(usuario.id_usuario)">
        <ion-col size="1" class="text-center">{{ usuario.id_usuario }}</ion-col>
        <ion-col>{{ usuario.nombres }} {{ usuario.apellidos }}</ion-col>
        <ion-col>{{ usuario.email }}</ion-col>
        <ion-col size="4" class="flex justify-around">
          <ion-button (click)="handleEdit($event, usuario.id_usuario)" fill="outline" class="w-2/5" color="primary">
            Modificar
          </ion-button>
          <ion-button (click)="handleDelete($event, usuario.id_usuario)" fill="outline" class="w-2/5" color="danger">
            Eliminar
          </ion-button>
        </ion-col>
      </ion-row>
      } @empty {
      <ion-row>
        <ion-col size="12">No hay usuarios registrados.</ion-col>
      </ion-row>
      }
    </ion-grid>
  </ion-card>
</main>
