<main class="w-full h-full flex justify-center">
    <ion-card class="p-6 max-w-sm h-fit top-1/4">
        <ion-card-header>
            <ion-card-title class="text-center text-2xl">Iniciar Sesion</ion-card-title>
        </ion-card-header>
        
        <form (ngSubmit)="handleSessionInit($event)" class="flex flex-col">
            <ion-input [(ngModel)]="this.credenciales().email" name="email" class="mt-10" label="Correo electronico" label-placement="stacked" fill="outline" type="email" placeholder="Enter text"></ion-input>
            
            <ion-input [(ngModel)]="this.credenciales().password" name="password" class="mt-6" label="Contraseña" label-placement="stacked" fill="outline" placeholder="Enter text">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
            
            <ion-button type="submit" class="self-center mt-6">Iniciar Sesion</ion-button>
        </form>
      
        <ion-card-footer>
            <ion-card-subtitle class="mt-6">No tienes cuenta? <a routerLink="/registro" color="secundary" class="cursor-pointer">Registrate Aqui</a></ion-card-subtitle>
        </ion-card-footer>
    </ion-card>
    
</main>