<form class="flex flex-col">
  <ion-input
    name="email"
    class="mt-10"
    label="Correo electronico"
    label-placement="stacked"
    fill="outline"
    type="email"
    placeholder="Enter text"
  ></ion-input>

  <ion-input
    name="password"
    class="mt-6"
    label="Contraseña"
    label-placement="stacked"
    fill="outline"
    placeholder="Enter text"
  >
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>

  <ion-button type="submit" class="self-center mt-6">Iniciar Sesion</ion-button>
</form>
