
<form class="grid grid-cols-1 gap-6 md:grid-cols-2">
  <ion-input
    name="nombres"
    class="mt-10"
    label="Nombres"
    label-placement="stacked"
    fill="outline"
    type="text"
    placeholder="Enter text"
  ></ion-input>
    
  <ion-input
    name="apellidos"
    class="md:mt-10"
    label="Apellidos"
    label-placement="stacked"
    fill="outline"
    type="text"
    placeholder="Enter text"
  ></ion-input>

  <ion-input
    name="email"
    label="Correo electronico"
    label-placement="stacked"
    fill="outline"
    type="email"
    placeholder="Enter text"
  ></ion-input>

  <ion-input
    name="direccion"
    label="Direccion"
    label-placement="stacked"
    fill="outline"
    type="text"
    placeholder="Enter text"
  ></ion-input>
  

  @if (departamentos.hasValue()) {
  <ion-select
  name="id_departamento"
  label="Departamento"
  label-placement="stacked"
  fill="outline"
  type="select"
  >@for (item of departamentos.value(); track $index) {
  <ion-select-option [value]="item.nombre">{{ item.nombre }}</ion-select-option>
  }</ion-select>
  }
  

  <ion-input
    name="nro_documento"
    label="Documento"
    label-placement="stacked"
    fill="outline"
    type="number"
  ></ion-input>

  <ion-input
    name="password"
    label="Contraseña"
    label-placement="stacked"
    fill="outline"
    placeholder="Enter text"
  ><ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>

  <ion-input
    name="password_repeat"
    label="Repita la Contraseña"
    label-placement="stacked"
    fill="outline"
    placeholder="Enter text"
  ><ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>

    @if (isAdmin()) {
    <ion-checkbox
    name="is_admin"  labelPlacement="end"
    >Administrador</ion-checkbox>
  }
  <ion-button type="submit" class="self-center mt-6 md:col-span-2">Crear cuenta</ion-button>
</form>
