@if (this.articulo.hasValue()) { @let articulo = this.articulo.value();

<ion-card class="flex flex-col w-full h-full lg:flex-row">
  <img
    alt="Imagen ampliada del articulo"
    class="aspect-square w-full overflow-hidden object-cover"
    src="{{ articulo.foto_url }}"
  />
  <div class="ion-text-center w-full p-5">
    <ion-card-header>
      <ion-card-title class="mb-5">{{ articulo.nombre }}</ion-card-title>
      @if (articulo.con_envio) {
      <ion-card-subtitle class="mb-5">Envio a domicilio</ion-card-subtitle>
      } @else {
      <ion-card-subtitle class="mb-5">Retira en domicilio del vendedor</ion-card-subtitle>
      }
    </ion-card-header>

    <ion-button class="mr-4" (click)="handleChatBtn($event, articulo.id_articulo)">Chat</ion-button>

    <a [routerLink]="['/usuarios', articulo.id_vendedor]">
      <ion-button>Perfil del vendedor</ion-button>
    </a>
    <ion-card-subtitle>Detalles</ion-card-subtitle>

    @if (articulo.usado) {
    <ion-card-subtitle>Estado - Articulo usado</ion-card-subtitle>
    } @else {
    <ion-card-subtitle>Estado - Articulo nuevo</ion-card-subtitle>
    }

    <ion-card-content>{{ articulo.descripcion }}</ion-card-content>

    @if (articulo.moneda == 'UYU') {
    <ion-card-content> $ {{ articulo.precio }}</ion-card-content>
    } @else {
    <ion-card-content>U$S {{ articulo.precio }}</ion-card-content>
    }
    <ion-button (click)="this.handleCarrito()">Al carrito</ion-button>
    <br />
    <ion-button (click)="this.handleCompra(this.articulo.value())">Comprar</ion-button>
  </div>
</ion-card>
}
