<ion-card class="flex w-3/3 h-6/6">
  <img alt="Imagen ampliada del articulo" src="{{ this.articulo.value()?.foto_url }}" />
  <div class="ion-text-center">
    <ion-card-header>
      <ion-card-title>{{ this.articulo.value()?.nombre }}</ion-card-title>
      @if (this.articulo.value()?.con_envio) {
      <ion-card-subtitle>Envio a domicilio</ion-card-subtitle>
      } @else {<ion-card-subtitle>Retira en domicilio del vendedor</ion-card-subtitle>}
    </ion-card-header>
    <a routerLink="/chats"><ion-button>Chat</ion-button></a>
    <a routerLink="/cuenta"><ion-button>Perfil del vendedor</ion-button></a>
    <ion-card-subtitle>Detalles</ion-card-subtitle>
    @if (this.articulo.value()?.usado) {
    <ion-card-subtitle>Estado - Articulo usado</ion-card-subtitle>
    } @else {<ion-card-subtitle>Estado - Articulo nuevo</ion-card-subtitle>}
    <ion-card-content>{{ this.articulo.value()?.descripcion }}</ion-card-content>
    @if (this.articulo.value()?.moneda == 'UYU') {
    <ion-card-content> $ {{ this.articulo.value()?.precio }}</ion-card-content>
    } @else {<ion-card-content>U$S {{ this.articulo.value()?.precio }}</ion-card-content
    >} <ion-button (click)="this.handleCarrito()">Al carrito</ion-button><br />
    <a routerLink="comprar"><ion-button>Comprar</ion-button></a>
    <hr />
    <a routerLink="editar"><ion-button>🔧</ion-button></a>
  </div>
</ion-card>
