@keyframes slide-in {
    from {
    transform: translateX(calc(100% + 2rem));
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}