<main class="w-full h-full flex justify-center items-center">
  <ion-card class="p-6 max-w-full sm:max-w-2xl h-fit">
    <ion-card-header>
      <ion-card-title class="text-center text-2xl">¡Crea una cuenta ahora!</ion-card-title>
    </ion-card-header>
    <app-usuarios-form (saved)="this.handleRegister($event)"></app-usuarios-form>
    <ion-card-subtitle class="mt-6"
      >¡Ya tienes una cuenta?
      <a routerLink="/login" color="secundary" class="cursor-pointer"
        >¡Ingresa aqui!</a
      ></ion-card-subtitle
    >
  </ion-card>
</main>
