@let chat = this.chat;
<div class="w-full fixed h-24 top-0 right-0 p-4 flex items-center z-2 bg-(--ion-color-darkbg)">
    @if (isMobile()) {
        <ion-button expand="full" (click)="openMenu()">
            <ion-icon src="assets/icons/burger.svg" size="large"></ion-icon>
        </ion-button>
    }
    
    @if (chat.hasValue()) {
        @let chat = this.chat.value();
        @if (chat) {
            <div class="mr-4 w-full flex justify-end items-center">
            <div class="text-center m-auto">
                <p>
                    {{chat.nombre_otro}}
                    {{chat.apellido_otro}}
                </p>
            </div>
            <a [routerLink]="['/usuarios', chat.id_otro]">
                <ion-avatar class="flex items-center">
                    <img alt="Silhouette of a person's head" class="aspect-square w-full" [src]="chat.foto_url" />
                </ion-avatar>
            </a>
        </div>
        }
    }
    
</div>
<div class="w-full py-13"></div>
@if (mensajes.hasValue()) {
    <div class="flex flex-col">
        @for (m of mensajes.value(); track $index) {
            @let hora = this.parseTime(m.fecha_mensaje);
            @let fecha = this.parseDate(m.fecha_mensaje);
            @let fecha_vieja = this.parseDate(mensajes.value()[$index - 1 >= 0 ? $index - 1 : 0].fecha_mensaje);
            @let esNuevaFecha = $index - 1 >= 0 ? this.debeImprimirFecha(fecha, fecha_vieja) : true;
            @if (esNuevaFecha) {
                <div class="w-fit px-3 mb-2 py-2 self-center rounded-lg shadow-sm bg-(--ion-color-light) text-(--ion-color-light-contrast)">
                    <p>{{fecha}}</p>
                </div>
            }

            @if (!isUserLogged(m.id_enviador)) {
                <div class="w-fit px-3 mb-2 py-2 rounded-lg ml-2 z-1 relative message-received shadow-sm overflow-visible bg-(--ion-color-light) text-(--ion-color-light-contrast)">
                    <p>{{m.contenido}}</p>
                    <p class="text-xs opacity-50">{{hora}}</p>
                </div>
            }@else {
                <div class="w-fit px-3 py-2 mb-2 self-end rounded-lg z-1 mr-2 relative message-sent shadow-sm overflow-visible bg-(--ion-color-dark) text-(--ion-color-dark-contrast)">
                    <p>{{m.contenido}}</p>
                    <p class="text-xs text-end opacity-60">{{hora}}</p>
                </div>
            }
        }
        <div class="bottom-0 right-0 w-full py-12" id="bottomCont"></div>
        <form class="w-full fixed bottom-0 right-0 p-4 flex items-center z-1 bg-(--ion-color-darkbg)" (ngSubmit)="sendMessage($event)">
            <div class="mr-4 w-full">
                <ion-input fill="outline" placeholder="Enviar mensaje" name="contenido" [(ngModel)]="contenido"></ion-input>
            </div>
            <div>
                <ion-button shape="round" class="w-5" type="submit">
                    <ion-icon slot="icon-only" fill="outline" src="/assets/icons/send.svg"></ion-icon>
                </ion-button>
            </div>
        </form>
        
    </div>
    
}