.message-sent::after {
    content: '';
    position: absolute;
    right: -5px;
    top: 0;
    width: 12px;
    height: 20px;
    background: var(--ion-color-dark);
    clip-path: polygon(0 0, 0 100%, 100% 0);
    border-radius: 0 0 0 3px;
}

.message-received::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 0;
    width: 12px;
    height: 20px;
    background: var(--ion-color-light);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    border-radius: 0 0 3px 0;
}