<div class="w-full fixed h-24 top-0 right-0 p-4 flex items-center z-2 bg-(--ion-color-darkbg)">
    @if (isMobile()) {
        <ion-button expand="full" (click)="openMenu()">
            <ion-icon src="assets/icons/burger.svg" size="large"></ion-icon>
        </ion-button>
    }
</div>

<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-indigo-400">Chats</p>
    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-white sm:text-7xl">Servicio de mensajeria instantanea</h1>
    <p class="mt-6 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">Medinte este medio puedes comunicarte con clientes y vendedores de manera facil y rapida.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a (click)="openMenu()" class="text-sm font-semibold text-white cursor-pointer">Abre un chat <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>